# Ignore everything and selectively allow files
*

# Allow project files
!.gitignore
!README.md
!LICENSE

# Allow Go files (explicitly ignore Dagger files)
!*.go
!go.sum
!go.mod
!go.work
!dagger.json
dagger.gen.go
*/internal/**

# Recurse through sub-directories applying the same patterns
!*/
