# Ignore everything and selectively allow files
*

# Allow project files
!.gitignore
!README.md
!LICENSE
!CODE_OF_CONDUCT.md
!.github/**/*

# Allow Go files (explicitly ignore Dagger files)
!*.go
!go.sum
!go.mod
!go.work
!dagger.json

# Recurse through sub-directories applying the same patterns
!*/
