# Ignore everything and selectively allow files
*

# Allow project files
!.github/**/*
!.gitignore
!CODE_OF_CONDUCT.md
!dagger.json
!LICENSE
!README.md

# Allow Nix files
!.envrc
!flake.lock
!flake.nix

# Allow Go files
!*.go
!go.sum
!go.mod

# Recurse through sub-directories applying the same patterns
!*/
